In [ ]:
print("1234")

安裝mysql

In [11]:
# pip install pymysql

In [2]:
import pymysql
pymysql.__version__

'1.4.6'

連結mysql

In [3]:
connect=pymysql.connect(
    user = "root",
    password="5555",
    host="127.0.0.1",
    database="shop",
    port=3306
)
connect

In [5]:
cursor=connect.cursor() 
cursor

###查詢語法
select from tablename

In [25]:
# sqlstr="select * from user;"
sqlstr = "select id,phone,email,address from user ;"
cursor.execute(sqlstr)
users =cursor.fetchone()
users

(1, '098855555', '12345678', '台北市信義路5段8號2樓')

插入語法 註冊功能

In [26]:
username = input("姓名")
email = input("Email")
password =input("密碼")
phone = input("手機號碼")
address = input("地址")




sqlstr = f"insert into user (username , email, password ,phone,address) \ values ('{username}','{email}','{phone}','{address}')"
sqlstr

"insert into user (username , email, password ,phone,address) \\ values ('長直直','maria@gmail.com.tw','0911222333','新北蘆洲區')"

In [28]:
try:
    cursor.execute(sqlstr)
    connect.commit()
except Exception as e:
    print("輸入失敗",e)

輸入失敗 (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '\\ values ('長直直','maria@gmail.com.tw','0911222333','新北蘆洲區')' at line 1")

登入連結

In [21]:
email = input("Email")
password = input("密碼")

sqlstr=f"select * from user where email ='{email}' and password='{password}'"
sqlstr

"select * from user where email ='marai@gmail.com' and password='1333333'"

In [22]:
cursor.execute(sqlstr)
user=cursor.fetchone()
user

In [23]:
if user != None:
    print("登入成功")
else :
    print("登入失敗")

登入失敗

In [14]:
connect.close()

### 商品列表

In [6]:
sqlstr='select * from item;'
cursor.execute(sqlstr)
item=cursor.fetchall()
item

((2, 'Hogan label', 20800.0, 20, '黑色 銀色', datetime.date(2024, 9, 1)),
 (3,
  'hogan ss 2024 active ',
  20900.0,
  15,
  '共3個顏色 白 粉桃 黑 高度6.5Cm 尺寸 23~25.5cm',
  datetime.date(2024, 9, 1)),
 (1,
  'hogan ss 2024 attractive',
  18900.0,
  1,
  '共3個顏色 藍 黃 棕 高度6.5Cm 尺寸 26~35cm',
  datetime.date(2024, 9, 1)))

In [8]:
while True :
    print("_"*59)
    for i ,buy_item in enumerate(item):
    # print(buy_item)
        print(f"{i+1}.商品名稱{buy_item[1]} 價格{buy_item[2]} 數量:{buy_item[3]} 備註{buy_item[4]}")
    choice= int(input("輸入編號(0:eixt):"))
    if choice==0:
        break
    #選項>=1 and <=len(buy_itme)
    if choice <1 or choice >len(item):
        print("輸入錯誤")
        continue
    # 數量<1 (OUT OF STOCK)
    if buy_item[choice-1][3]<1:
        print(f"{buy_item[choice-1][1]}無庫存")
print("完成購買")

___________________________________________________________
1.商品名稱Hogan label 價格20800.0 數量:20 備註黑色 銀色
2.商品名稱hogan ss 2024 active  價格20900.0 數量:15 備註共3個顏色 白 粉桃 黑 高度6.5Cm 尺寸 23~25.5cm
3.商品名稱hogan ss 2024 attractive 價格18900.0 數量:1 備註共3個顏色 藍 黃 棕 高度6.5Cm 尺寸 26~35cm
完成購買